body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #23272a;
  color: #333;
}

nav {
  background-color: ##f28b58;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  background: #f28b58;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.download-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #d67d51;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.download-btn:hover {
  background-color: #f28b58;
}
